interactions:
- request:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/channels?part=snippet%2Cstatistics%2CbrandingSettings&id=UCjLrTC9jdfx6iI5w7SL8LHw&alt=json
    body: null
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      string: |
        {
          "kind": "youtube#channelListResponse",
          "pageInfo": {"totalResults": 1, "resultsPerPage": 5},
          "items": [
            {
              "kind": "youtube#channel",
              "id": "UCjLrTC9jdfx6iI5w7SL8LHw",
              "snippet": {
                "title": "Cities Evolution",
                "description": "Exploring the long transformation of cities through history.",
                "publishedAt": "2026-03-06T21:58:48.112347Z"
              },
              "statistics": {
                "viewCount": "8543",
                "subscriberCount": "44",
                "hiddenSubscriberCount": false,
                "videoCount": "24"
              }
            }
          ]
        }
version: 1
