interactions:
- request:
    method: GET
    uri: https://youtubeanalytics.googleapis.com/v2/reports?ids=channel%3D%3DMINE&startDate=2026-04-14&endDate=2026-04-20&metrics=views%2CestimatedMinutesWatched%2CaverageViewDuration%2CaverageViewPercentage%2Cimpressions%2CimpressionsClickThroughRate%2CsubscribersGained%2CsubscribersLost&alt=json
    body: null
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {"name": "views", "columnType": "METRIC", "dataType": "INTEGER"},
            {"name": "estimatedMinutesWatched", "columnType": "METRIC", "dataType": "INTEGER"},
            {"name": "averageViewDuration", "columnType": "METRIC", "dataType": "INTEGER"},
            {"name": "averageViewPercentage", "columnType": "METRIC", "dataType": "FLOAT"},
            {"name": "impressions", "columnType": "METRIC", "dataType": "INTEGER"},
            {"name": "impressionsClickThroughRate", "columnType": "METRIC", "dataType": "FLOAT"},
            {"name": "subscribersGained", "columnType": "METRIC", "dataType": "INTEGER"},
            {"name": "subscribersLost", "columnType": "METRIC", "dataType": "INTEGER"}
          ],
          "rows": [
            [412, 1189, 173, 24.8, 8902, 4.63, 3, 0]
          ]
        }
version: 1
